<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Create Account Page</title>
    </head>
    <body>
        <div class="login">
            <form action="/createaccount" method="POST">
                <div class="flex-container">
                    <div class="flex-item header">
                        <h1>Create an Account!</h1>
                    </div>
                    <div class="flex-item">
                        <label>Enter First Name:</label>
                        <input type="text" name="firstname" required>
                    </div>
                    <div class="flex-item">
                        <label>Enter Last Name:</label>
                        <input type="text" name="lastname" required>
                    </div>
                    <div class="flex-item">
                        <label>Enter Email:</label>
                        <input type="text" name="email" required>
                    </div>
                    <div class="flex-item">
                        <label>Enter Username:</label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="flex-item">
                        <label>Enter Password:</label>
                        <input type="text" name="password" required>
                    </div>
                    <div class="flex-item">
                        <button id="submit" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
