<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
                <title>Login Page</title>
        </head>
        <body>
                <div class="login">
                        <form action="/" method="POST">
                                <div class="flex-container">
                                        <div class="flex-item header">
                                                <h1>Welcome!</h1>
                                        </div>
                                        <div class="flex-item">
                                                <p> New User? Create an account! </p>
                                        </div>
                                        <div class="flex-item">
                                                <label>Enter Username:</label>
                                                <input type="text" name="username" required>
                                        </div>
                                        <div class="flex-item">
                                                <label>Enter Password:</label>
                                                <input type="text" name="password" required>
                                        </div>
                                        <div class="flex-item">
                                                <button id="submit" type="submit">Submit</button>
                                        </div>
                                </div>
                        </form>
                        <a href="createaccount">Already Have an account? Click here!</a>
                </div>
        </body>
</html>
